// themes
$primary: #326dee !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// color palettes
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blueColor": #1919e6,
  "redColor": #e61919,
  "yellowColor": #e6e619,
  "greenColor": #19e635,
  "orangeColor": #ffa600,
  "purpleColor": #9900ff,
  "grayColor": #808080,
  "blackColor": black,
  "whiteColor": white,
);

// @debug map-get($map: $colors, $key: "purpleColor");
// @debug map-has-key($map: $colors, $key: "secondary");
// @debug map-remove($map: $colors, $keys: "primary");
// @debug map-merge($map1: $colors, $map2: ("pinkColor": #ffc0cb));

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
